html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url('') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar li,
.navbar > a {
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px 10px;
}

.navbar li:hover,
.navbar > a:hover {
    background-color: skyblue;
    transition: 0.5s;
}

.navbar .active {
    background-color: skyblue;
    border-radius: 20px;
    padding: 5px 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    flex: 1;
}

header {
    background-color: #FF5F6D;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #FFC371;
}

.info-box {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #b6666d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
}

footer {
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 0;
    text-align: center;
}

footer a {
    color: #FFC371;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
